{% extends 'base_user.html.twig' %}

    {% block title %}Team Training{% endblock %}

{% block body %}
    <div class="intro nav-font small-font-size text-center bg-white">
        <section id="team_page_intro">
            <p>Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,</p>


            <p>nondum tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat</p>


            <p>nondum tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis, quas periculorum varietas</p>
        </section>
    </div>
    <section id="list_activities">
        {% for activity in activities %}
            <div class="card-coach-activity d-flex justify-content-between w-100 my-5 py-5">
                <div class="overflow-hidden card-act-image mx-0 text-left">
                    <img class="w-100" src="{{ vich_uploader_asset(activity, 'activityFile')|imagine_filter('sizeOne') }}"
                         alt="{{ activity.title }}">
                </div>
                <div class="details d-flex flex-column text-light">
                    <div class="{% if loop.index is odd %}pl-5{% else %}pr-5{% endif %}">
                        <div class="w-100 text-left">
                            <h2 class="mb-0 w-100 medium-font-size main-font-black"><span class="main-font-semi-bold xl-font-size">{{ loop.index }}.</span> {{ activity.title|upper }}</h2>
                        </div>
                        <div class="nav-font small-font-size">
                            <p class="mb-1">{{ activity.description|raw }}</p>
                            {% if activity.intensity is defined %}
                                <p class="my-0 nav-font-semi-bold mb-1">Intensité :
                                    {% for i in 1..activity.intensity %}
                                        <img class="mx-1 pb-2" src="{{ asset('build/fire.svg') }}" alt="fire"/>
                                    {% endfor %}</p>
                            {% endif %}
                            {% if activity.more %}
                                <p class="my-0 mb-1 nav-font-semi-bold">Nombre de participants : <span class="flashy">{{ activity.maxparticipation ?? '' }}</span></p>
                            {% endif %}
                            {% if activity.more %}
                                <p class="my-0 mb-1 nav-font-semi-bold">Type d'effort : <span class="flashy">{{ activity.more ?? '' }}</span></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="text-center bg-light col">
        <p class="py-4 my-0 main-font-bold medium-font-size">LE PLANNING DE COURS</p>
        <img src="{{ asset('uploads/planning/'~coachInfo.planning) }}" alt="planning"><br/>
        <a href="{{ path('app_contact') }}" class="my-5 btn text-primary border-primary nav-font-semi-bold small-14-font-size">INTÉRESSÉ PAR UN COURS ?</a>
    </div>

    {% include 'map.html.twig' %}
{% endblock %}
