
<div class="position-relative min-vw-100">
    <div class="vib w-100 bg-white"></div>
</div>
<section class="activity position-relative w-100">
    <div class="card-deck position-relative d-flex justify-content-between flex-wrap p-1">
        {% set itemsActivity = {
            'coaching': path('app_coaching'),
            'team': path('index_team_traing'),
            'distance': path('app_online'),
        }
        %}
        {% for activity in activities %}
            <div class="card-activity col-md-4 overflow-hidden p-0 {{ activity.category }}">
                <a class="text-decoration-none"
                {% for itemLabel, itemRoute in itemsActivity %}
                    {% if activity.category == itemLabel %}
                        href="{{ itemRoute }}"
                    {% endif %}
                {% endfor %}
                >
                <img class="card-img-top card-img-top-activity"
                     src="{{ (asset('uploads/activites/') ~ activity.picture)|imagine_filter('home_activity') }}"
                     alt="Card image cap">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="badge-activity d-flex justify-content-center align-items-center">
                        {% if activity.pictogram %}
                            <img src="{{ asset('build/pictograms/' ~ activity.pictogram ~ '.svg') }}" alt="pictogramme de l'activité">
                        {% else %}
                            <img class="w-50" src="{{ asset('build/running.svg')}}" alt="pictogramme de l'activité">
                        {% endif %}
                    </div>
                    <h3 class="card-title text-primary text-center mt-2 medium-font-size main-font-medium">
                        {{ activity.title|upper }}
                    </h3>
                    <div class="card-text card-text-activity text-center text-break">
                        {{ activity.description|truncateText|raw }}
                    </div>
                </div>
                </a>
                <div class="col-12 text-center p-3">
                    <a href="{{ path('app_contact') }}"
                            class="btn border-primary text-primary nav-font-semi-bold xxs-font-size">ME CONTACTER</a>
                </div>
            </div>
        {% endfor %}

    </div>
</section>
