<section id="before_after" class="before_after">
    <!-- Titre de section -->
    <div>
        <h2 class="text-light w-100 text-center">ILS ONT <span class="main-font-bold">RÉUSSI</span> !</h2>
    </div>
    <!-- Carousel -->
    <div class="w-100">
        <div id="carouselExampleControls" class="w-100 carousel slide" data-ride="carousel">
            <div class="carousel-inner w-100">

            {% for transformation in transformations %}
                {% if loop.index is odd %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="d-flex flex-wrap">
                {% endif %}
                    <div class="col-10 col-lg-4 {% if loop.index is even %}offset-1{% else %}offset-2{% endif %}">
                        <div class="col-6 position-relative mb-5 mt-1 pt-lg-5">
                            <div class="picture_duo first_image position-relative bg-light col-lg-12">
                                <div class="overflow-hidden polaroid_img w-100 m-auto">
                                    <img class="w-100 my-auto" src="{{ vich_uploader_asset(transformation, 'pictureBeforeFile')|imagine_filter('sizeOne') }}" alt="{{ transformation.name }} avant">
                                </div>
                                <div class="polaroid_label text-center text-primary small-14-font-size">
                                    <div class="pt-3">{{ transformation.name|upper }}</div>
                                </div>
                            </div>
                            <div class="picture_duo second_image position-absolute bg-light col-lg-11">
                                <div class="overflow-hidden polaroid_img w-100">
                                    <img class="w-100 my-auto" src="{{ vich_uploader_asset(transformation, 'pictureAfterFile')|imagine_filter('sizeOne') }}" alt="{{ transformation.name }} après">
                                </div>
                                <div class="polaroid_label text-center text-secondary medium-20-font-size">
                                    <div class="pt-2">-{{ transformation.pound }} Kg</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% if loop.index is even %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}

            {% if transformations|length is odd %} {# ajout en cas d'entegistrement impaire #}
                <div class="d-flex align-items-center text-light text-center col-12 col-lg-4 offset-lg-1 my-5">
                            <p class="align-middle w-100 text-center next">Serez-vous le prochain ?</p>
                </div>
            </div>
        </div>
        {% endif %}

            </div>
            <!-- Les contrôles < & > -->
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="h-25 col-md-3 col-sm-1 text-white text-left" aria-hidden="true">
                    <img src="{{ asset('build/left.svg') }}" alt="left">
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="h-25 col-md-3 col-sm-1" aria-hidden="true">
                    <img class="rotate180" src="{{ asset('build/left.svg') }}" alt="left">
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!-- Btn lien vers page -->
    <div class="mt-2 pt-1 text-center w-100 ">
        <a class="btn border-light text-light nav-font-semi-bold small-14-font-size" href="{{ path('transformations') }}">VOIR LES TRANSFORMATIONS</a>
    </div>
</section>
