<div class="mt-2 map-responsive w-100 mx-0 d-none d-lg-block">

    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=1.8959516286849978%2C47.890683120930824%2C1.901316046714783%2C47.89287730290107&amp;layer=mapnik&amp;marker=47.891780223537005%2C1.8986338376998901" style="border: 0px solid black"></iframe>

    <div class="card-adress p-3 ">
        <img class="p-2 logo" src="{{ asset('build/peter_logo_colored.png') }}">
        <div class="d-none d-md-block localisation position-absolute">
            <img src="{{ asset('build/location.svg') }}" alt="location">
        </div>
        <p class="pl-4 mt-3">{{ coachInfo.adress ?? ''}}<br/>{{ coachInfo.zipCode ?? ''}} {{ (coachInfo.city ?? '')|upper }}</p>
        <p class="pl-2">
            <img src="{{ asset('build/primary_phone_icon.svg') }}" alt="phone">
            : {{ (coachInfo.phone ?? '')|formatPhoneFr }} </br>
            <img src="{{ asset('build/post.svg') }}" alt="adress">
            : {{ coachInfo.mail ?? ''}}</p>
    </div>
</div>
