{% extends 'base_user.html.twig' %}

{% block title %}Tranformations{% endblock %}

{% block body %}
    <section class="mb-5">

        {% for transformation in transformations %}
            <div class="container-fluid">
                <div class="row transformations mb-5">
                    <div class="col-md-6 text-primary">
                        <h3 class="main-font-black semi-large-font-size">
                            {{ transformation.name}}
                        </h3>
                        <h4 class="nav-font-bold-italic">
                            {{transformation.title}} - {{ transformation.pound }}kg.
                        </h4>
                        <p class="caption-font">
                            {{ transformation.description|raw }}
                        </p>
                    </div>

                    <div class="col-md-6 my-4 d-flex">

                        <img class="mr-2 w-100" src="{{ vich_uploader_asset(transformation, 'pictureBeforeFile') }}" alt="Photo avant le programme ">
                        <img class="w-100" src="{{ vich_uploader_asset(transformation, 'pictureAfterFile') }}" alt="Photo après le programme ">

                    </div>
                </div>
            </div>
        {% endfor %}

            <div class="row justify-content-center">
                <a class="btn btn-outline-primary" href="{{ path('app_contact') }}">Demander mon programme</a>
            </div>
    </section>
{% endblock %}

