{% extends 'base_user.html.twig' %}

{% block title %}Tranformations{% endblock %}

{% block body %}
    <section class="mb-5">
        {% for transformation in transformations %}
            <div class="container">
                <div class="row transformations mb-2 mb-md-5">
                    <div class="col-md-6 text-primary mt-3 pr-0 px-2 pl-md-5">
                        <h3 class="main-font-black semi-large-font-size mb-0">
                            {{ transformation.name }}
                        </h3>
                        <h4 class="caption-font-italic medium-20-font-size mt-2">
                            {{transformation.title}} - {{ transformation.pound }}kg.
                        </h4>
                        <div class="caption-font small-15-font-size line-h-4">
                            {{ transformation.description|raw }}
                        </div>
                        <div class="row mx-0">
                            <a class="mx-auto btn btn-outline-primary nav-font-semi-bold xxs-font-size" href="{{ path('app_contact') }}">JE SUIS INTÉRESSÉ(E)</a>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex flex-wrap justify-content-center">
                        <div>
                            <img class="my-2 mx-1" src="{{ vich_uploader_asset(transformation, 'pictureBeforeFile')|imagine_filter('carre_200') }}" alt="Photo avant le programme ">
                        </div>
                        <div>
                            <img class="my-2 mx-1" src="{{ vich_uploader_asset(transformation, 'pictureAfterFile')|imagine_filter('carre_200') }}" alt="Photo après le programme ">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
    {% if transformation %}
    <div class="container-fluid bg-primary w-100 px-0 px-md-3">
        <section id="focus" class="row transformations mx-auto py-5">
            <div class="mb-5 w-100 text-center text-light medium-font-size main-font-bold"><span class="main-font text-light">FOCUS</span> TRANSFORMATION</div>
            <div class="col-md-6 d-flex">
                <img class="mr-2 w-100" src="{{ vich_uploader_asset(transformation, 'pictureBeforeFile') }}" alt="Photo avant le programme ">
                <img class="w-100" src="{{ vich_uploader_asset(transformation, 'pictureAfterFile') }}" alt="Photo après le programme ">
            </div>
            <div class="focus col-md-6 text-light mt-3">
                <h3 class="main-font-black semi-large-font-size mb-0">
                    {{ transformation.name}}
                </h3>
                <h4 class="nav-font-bold-italic text-light">
                    {{transformation.title}} - {{ transformation.pound }}kg.
                </h4>
                <p class="caption-font text-light">
                    {{ transformation.description|raw }}
                </p>
            </div>
        </section>
    </div>
    {% endif %}
    {% include('map.html.twig') %}
{% endblock %}
