{% extends 'base_user.html.twig' %}

{% block title %}Programmes en ligne{% endblock %}

{% block body %}
<div class="intro nav-font small-font-size text-center bg-white">
    <section>
    <p>Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,</p>
    </section>
</div>
<section id="coaching">
    <div class="w100 row mb-5">
        <div class="col-6 text-center">
            <form id="form_program" action="{{ path('app_online_suscrib')}}" method="post">
                <p class="main-font-bold large-font-size text-primary"><label>CHOIX DU PROGRAMME</label></p>
                <p><select name="select_program" id="select_program">
                        <option value="" selected></option>
                    {% for program in programs %}
                        <option value="{{ program.id }}">{{ program.name }}</option>
                    {% endfor %}
                </select></p>
                <input type="hidden" name="price" value="1000" id="price"/>
                <button class="btn btn-light">Sauter le pas</button>
            </form>
        </div>
        <div class="detail_program col-6">
            {% for program in programs %}
            <div id="{{ program.id }}" class="prog disparition">
                <span class="title">{{ program.name }}</span><br/><span class="undertitle
">{{ program.price ?? '?' }} € - durée : {{ program.duration }} jours</span><br>
                {% for step in program.programSteps %}
                <span class="undertitle">{{ loop.index }}. {{ step.title }}</span><br>
                    <span class="text">{{ step.description|raw }}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

</section>
<div class="row text-light bg-primary py-4 h-100">
    <div id="biodyxpert" class="col-4 text-right">
        <div class="position-absolute w-100 text-right px-5">
            <img class="mt-4" src="{{ asset('build/biodyxpert.png') }}" alt="biodyXpert"/>
        </div>
    </div>
    <div class="col-5 text-left small-14-font-size nav-font">
        <p class="nav-font-bold">BIODY EXPERT</p>
        <p>Rum, nondum tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus
        parium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat rum.</p>
    </div>
</div>
<div class="bg-white text-center py-4">
    <p class="py-5 mb-0 main-font-bold medium-font-size">LES ÉTAPES DES PROGRAMMES EN LIGNE</p>
</div>
<div class="w-100 bg-white py-3 mb-0">
{% include 'time.html.twig' %}
</div>
<div class="py-5 br-light text-center bg-white">
    <a class="btn border-primary text-primary nav-font-semi-bold small-14-font-size"  href="{{ path('app_login') }}">S'INSCRIRE</a>
</div>


{% include 'map.html.twig' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.getElementById('form_program').select_program.onchange = function() {
            var iddiv = this.value;
            $('.prog').removeClass('opa1');
            $('.prog').addClass('disparition');
            $('#'+iddiv).removeClass('disparition');
            $('#'+iddiv).addClass('opa1');
        };
    </script>
{% endblock %}
