{% extends 'base_user.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}

    <section id="coaching">
        {% for activity in activities %}
        <div class="card-coach-activity d-flex flex-wrap w-100 my-5 py-3">
            <div class="overflow-hidden card-act-image mx-auto">
                <div class="align_center">
                <img class="image-activity" src="{{ vich_uploader_asset(activity, 'activityFile') }}"
                     alt="{{ activity.title }}">
                </div>
            </div>
            <div class="col-md-8 d-flex flex-column text-light">
                <div class="w-100 text-left">
                        <h2 class="mb-0 w-100 medium-font-size main-font-black"><span class="main-font-semi-bold xl-font-size">{{ loop.index }}.</span> {{ activity.title|upper }}</h2>
                </div>
                <div class="nav-font small-font-size">
                    <p class="">{{ activity.description|raw }}</p>
                    <p class="my-0 nav-font-semi-bold">Intensité : </p>
                    <p class="my-0 nav-font-semi-bold">Le + : </p>
                    <p class="my-0 nav-font-semi-bold">Le mot du coach :

                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}
