{% extends 'base_user.html.twig' %}

{% block title %}Coaching{% endblock %}

{% block body %}
<div class="intro nav-font small-font-size text-center bg-white">
    <section>
    <p>Expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat Post emensos insuperabilis expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum,</p>


    <p>nondum tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat</p>


    <p>nondum tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus partium animis, quas periculorum varietas</p>
    </section>
</div>
    <section id="list_activities">
        {% for activity in activities %}
            <div class="card-coach-activity d-flex justify-content-between w-100 my-1 my-md-5 py-2 py-md-5">
                <div class="w-md-50 d-flex justify-content-around">
                    <div class="overflow-hidden card-act-image mx-0 text-left mx-auto mx-md-0">
                        <img class="w-100" src="{{ vich_uploader_asset(activity, 'activityFile')|imagine_filter('sizeOne') }}"
                             alt="{{ activity.title }}">
                    </div>
                </div>
                <div class="details d-flex flex-column text-light {% if loop.index is odd %}pl-md-5{% else %}pr-md-5{% endif %}">
                    <div class="">
                        <div class="w-100 text-left">
                            <h2 class="mb-0 w-100 medium-font-size main-font-black"><span class="main-font-semi-bold xl-font-size">{{ loop.index }}.</span> {{ activity.title|upper }}</h2>
                        </div>
                        <div class="nav-font small-font-size">
                            <p class="mb-1">{{ activity.description|raw }}</p>
                            {% if activity.more %}
                                <p class="my-0 mb-1 nav-font-semi-bold">Le mot du coach : <span class="flashy">{{ activity.more ?? '' }}</span></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <div class="row text-light bg-primary pt-4 h-100 position-relative">
    <div id="biodyxpert" class="col-md-4 text-right">
        <div class="w-100 text-right px-md-5">
            <img class="mt-md-4" src="{{ asset('build/biodyxpert.png') }}" alt="biodyXpert"/>
        </div>
    </div>
    <div class="col-md-5 text-left small-14-font-size nav-font">
        <p class="nav-font-bold text-center text-md-left">BIODY EXPERT</p>
        <p class="px-1">Rum, nondum tubarum cessante clangore vel milite locatPost emensos insuperabilis expeditionis eventus languentibus
        parium animis, quas periculorum varietas fregerat et laborum, nondum tubarum cessante clangore vel milite locat rum.</p>
    </div>
</div>
    <div class="bg-white text-center py-4">
        <p class="py-5 mb-0 main-font-bold medium-font-size">LES ÉTAPES DU COACHING</p>
    </div>
    <div class="w-100 bg-white py-3 mb-0">
    {% include 'time.html.twig' %}
    </div>
    <div class="py-5 br-light text-center bg-white">
        <a class="btn border-primary text-primary nav-font-semi-bold small-14-font-size"  href="{{ path('app_contact') }}">FAIRE UNE SESSION D'ESSAI</a>
    </div>


    {% include 'map.html.twig' %}
{% endblock %}
