<footer>
    <div class="container-fluid d-flex flex-column flex-md-row pt-4">

        <div class="col-md-4 d-flex flex-row justify-content-center ">
            <svg class="pictos flashy my-auto bi bi-geo-alt" width="17px" height="17px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            <p class="my-auto">{{ coachInfo.adress ?? '' }}, {{ coachInfo.zipCode ?? '' }} {{ (coachInfo.city ?? '')|upper }}</p>

            <img class="pictos flashy ml-4 mr-1 my-auto" src="{{ asset('build/blue_tel.svg') }}">
            <p class="my-auto"> {{ (coachInfo.phone ?? '')|formatPhoneFr }}</p>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
            <a href="{{ path('index_legals')}}" class="my-auto">Mentions légales</a>
            <a href="{{ path('app_faq') }}" class="ml-4 my-auto">F.A.Q.</a>
        </div>

        <div class="col-md-4 justify-content-center mb-3">
            <a class="ml-auto mr-md-auto" href="#top">
                <div class="scrollUp d-flex text-white mx-auto">
                            <img src="{{ asset('build/arrow.svg') }}"/>
                </div>
            </a>
        </div>
    </div>
</footer>

