<header class="w-100 top-img d-flex justify-content-center overflow-hidden">
    <div class="img_bg_navbar position-absolute align-content-center overflow-hidden w-100">
        <img src="{{ asset('build/header_sportif_lacets.jpg') }}" alt="image de fond" class="min-vw-100">
    </div>
    <div class="bluehover position-relative"></div>

    <div class="col-12 col-xl-8 container-banner position-absolute ">
        {# debut bande supérieure (adresse => profil) #}
        <div class="px-0 supnavbar col-12 d-flex flex-column flex-md-row mt-3">
            <div class="px-0 col-md-6 infoheader d-flex flex-row">
                <div class="p-0 col-6 d-flex flex-row align-items-center">
                    <img class="mx-1 d-flex flex-row" src="{{ asset('build/blue_location.svg') }}" alt="picto_location">
                    <p>{{ coachInfo.adress ?? '' }}<br> {{ coachInfo.zipCode ?? '' }} {{ (coachInfo.city ?? '')|upper }}
                    </p>
                </div>
                <div class="col-6 px-0 d-flex ">
                    <div class="row align-items-center mx-auto">
                        <img class="mx-1" src="{{ asset('build/blue_tel.svg') }}" alt="picto_phone">
                        <p class="mt-3 text-right">{{ (coachInfo.phone ?? '')|formatPhoneFr }}</p>
                    </div>
                </div>
            </div>
            <div class="row col-md-6">
                <div class="col-6 mr-0 d-flex ">
                    <div class="col-12 d-flex justify-content-around">
                        <a class="mt-2" href="https://fr-fr.facebook.com/coachpeter.orleans/" target="_blank"><img
                                    class="navbar-text" src="{{ asset('build/blue_facebook.svg') }}"
                                    alt="Lien vers page Facebook"></a>
                        <a class="mt-2" href="https://instagram.com/coach_peter.orleans?igshid=crqgsjokas3f"
                           target="_blank"><img class="navbar-text" src="{{ asset('build/blue_insta.svg') }}"
                                                alt="Lien vers page Instagram"></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row align-items-end float-right">
                        <img class="navbar-text mt-2" src="{{ asset('build/blue_connection.svg') }}"
                             alt="Lien vers page de connexion">
                        {% if app.user %}
                            <a class="mb-1 nav-item text-light dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.firstname }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item text-primary" href="{{ path('app_admin') }}">Admin</a>
                                {% endif %}
                                <a class="dropdown-item text-primary" href="{{ path('profil_show') }}">Mon profil</a>

                                <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% else %}
                            <a href="{{ path('app_login') }}"
                               class="mb-1 nav-item navbar-link text-light text-decoration-none">Connexion</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {# Fin bande supérieure#}
        {# Debut bande inférieure (Logo + liens de navigation) #}
        <div class="w-100 d-flex flex-wrap justify-content-between border-top border-light">
            <div class="col-4">
                <a class="navbar-brand" href="{{ path('app_index') }}">
                    <img class="" src="{{ asset('build/peter_logo_white.png') }}" alt="logo coach Peter">
                </a>
            </div>
            <div style="left:20%; width: 80%" class=" text-right position-absolute">
                <nav class="navbar navbar-expand-lg navbar-light border-top-0 justify-content-end">
                    <button class="navbar-toggler border-0 btn text-light align-right" type="button"
                            data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse text-right pr-3 justify-content-end" id="navbarNav">
                        <ul class="navbar-nav mr-0">

                            {% if is_granted('ROLE_MEMBER') %}
                                <li class="nav-item py-2 px-1">
                                    <a class="nav-item text-light text-decoration-none {{ app.request.pathInfo==path('app_member') ? 'active navbar-focus' : 'navbar-link' }}" href="{{ path('app_member') }}">Espace
                                        Membre</a>
                                </li>
                            {% endif %}

                            <li class="nav-item py-2 px-1">
                                <a class="nav-item text-light text-decoration-none {{ app.request.pathInfo == path('whoiam_index') ? 'active navbar-focus' : 'navbar-link' }} p-0" href="{{ path('whoiam_index') }}">
                                    Qui suis-je
                                    {% if app.request.pathInfo == path('whoiam_index') %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>

                            <li class="nav-item nav-link dropdown py-2 px-1 mr-1 {{ (app.request.pathInfo==path('app_coaching') or app.request.pathInfo==path('index_team_traing')) ? 'active navbar-focus' : 'navbar-link' }}">
                                <a class="a-propos dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Activité
                                    {% if app.request.pathInfo == path('app_coaching') %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                                <div class="ss-menu-activities dropdown-menu text-right " aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item text-primary" href="{{ path('app_coaching') }}">Coaching</a>
                                    <a class="dropdown-item text-primary" href="{{ path('index_team_traing') }}">Team Training</a>
                                    <a class="dropdown-item text-primary" href="{{ path('index_team_traing') }}">A distance</a>
                                </div>
                            </li>

                            <li class="nav-item py-2 px-1">
                                <a class="nav-item text-light text-decoration-none {{ app.request.pathInfo == path('transformations') ? 'active navbar-focus' : 'navbar-link' }}" href="{{ path('transformations') }}">
                                    Transformations
                                    {% if app.request.pathInfo == path('transformations') %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>

                            <li class="nav-item py-2 px-1">
                                <a class="nav-item text-light text-decoration-none {{ app.request.pathInfo == path('app_actuality') ? 'active navbar-focus' : 'navbar-link' }}" href="{{ path('app_actuality') }}">
                                    Actualité
                                    {% if app.request.pathInfo == path('app_actuality') %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>

                            <li class="nav-item py-2 px-1">
                                <a class="nav-item text-light text-decoration-none {{ app.request.pathInfo == path('app_contact') ? 'active navbar-focus' : 'navbar-link' }}" href="{{ path('app_contact') }}">
                                    Contact
                                    {% if app.request.pathInfo == path('app_contact') %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        {# Fin bande inférieure#}
        {% include '_flash.html.twig' %}
        {% include 'home/_headband.html.twig' %}
    </div>
</header>
<div class="position-relative min-vw-100">
    <div class="round w-100 bg-white"></div>
</div>


