<div class="map-responsive w-100 mx-0 d-none d-lg-block">
    <div id="map"></div>
    <div class="card-adress p-3 ">
        <img class="p-2 logo" src="{{ asset('build/peter_logo_colored.png') }}">
        <div class="d-none d-md-block localisation position-absolute">
            <img src="{{ asset('build/location.svg') }}" alt="location">
        </div>
        <p class="pl-4 mt-3">{{ coachInfo.adress ?? ''}}<br/>{{ coachInfo.zipCode ?? ''}} {{ (coachInfo.city ?? '')|upper }}</p>
        <p class="pl-2">
            <img src="{{ asset('build/primary_phone_icon.svg') }}" alt="phone">
            : {{ (coachInfo.phone ?? '')|formatPhoneFr }} </br>
            <img src="{{ asset('build/post.svg') }}" alt="adress">
            : {{ coachInfo.mail ?? ''}}</p>
    </div>
</div>
