<div class="timeline mb-3 d-flex justify-content-center bg-white">
    <div class="blocs row">
        {% for etape in etapes %}
        <div class="bloc">
            <div class="etape row m-0">
                <div class="arrow-begin{% if loop.index == 1 %} d-none{% endif %}">
                </div>
                <div class="arrow-corpus d-flex bg-blue-{{ loop.index }}">
                    <div class="num-etape m-auto">{{ etape.etape|upper }}</div>
                </div>
                <div class="arrow-point bl-{{ loop.index }}"></div>
            </div>
            <div class="double-booble position-relative px-0">
                <div class="round border-blue-{{ loop.index }}"></div>
                <div class="link border-blue-{{ loop.index }}"></div>
                <div class="picto d-flex color-blue-{{ loop.index }}">
                    <div class="m-auto">
                        {% include('pictograms/' ~  (etape.picto)) %}
                    </div>
                </div>
            </div>
            <div class="text">
                <p class="title">{{ etape.title|upper }}</p>
                <p class="under-title">{{ etape.undertitle }}</p>
                <p class="description">{{ etape.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
